<!DOCTYPE html>
<html>
<head>
  <title>My 1st about Page</title>

</head>


  <h2 title="Look for the h2 setting and modify it there";><center class="two" style="background-color:white";>Victors Page</center></h2>


  <h3 title="Look for the h3 setting and modify it there";><center class="three" style="background-color:green";>The main heading of the html doc</center></h3>



  <table>
    <caption><h2>Football</h2></caption>
      <tr>
        <th><p title="under table heading <th>">Team</p></th>
        <th><p title="same as 1st column, modify in the <th> section">Year</p></th>
        <th><center title="and so on and so on....">Record</p></th>
      </tr>
      <tr><p>
        <td><p title="this is not the table heading but the data <td> section">SF</p></td>
        <td>2014</td>
        <td>6-3</td>
      </tr>
      <tr>
        <td>SF</td>
        <td>2015</td>
        <td>5-4</td>
      </tr>
      <tr>
        <td>SF</td>
        <td>2016</td>
        <td>6-3</td>
      </tr>
      <tr>
        <td>Chesmont</td>
        <td>2017</td>
        <td>TBD</td>
      </tr>

</table>


<h2><center style=color:black;> Lorem Ipsum Dolor</h2>
   <li><p style= color:black; >Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
   <li><p style="color:black;" >Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
   <li><p style="color:black;">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
   <li><p style="color:black;">Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li></p>
</ul>
<center style="color:green;">Bottom of page???.... WHAAAAAT??!!!</center>
<br>
<br>
<br>
<br>
<footer>
  <p style="color:red;">Posted by: Carl</p>
  <p style="color:red;">Contact information:</p>
  <a href="mailto:someone@example.com">someone@example.com</a></p>
</footer>


</body>
</html>

<%= link_to 'Home', root_path %>