<!DOCTYPE html>
<html>
<head>
  <title>My Page</title>
<meta charset="UTF-8"></meta>
</head>
<%= link_to "About", about_path %>
  <body

  <h2 title="Look for the h2 setting and modify it there";><center>Victors Page</center></h2>

    <h3 title="Look for the h2 setting and modify it there";>The main heading of the html doc</h3>
  <h2><center> Lorem Ipsum Dolor</h2>
     <li><p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
     <li><p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
     <li><p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
     <li><p>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li></p>
  </ul>
  <center>Bottom of page???.... WHAAAAAT??!!!</center>
  <br>
  <br>
  <br>
  <br>
  <footer>
    <p>Posted by: Carl</p>
    <p>Contact information:</p>
    <a href="mailto:someone@example.com">someone@example.com</a></p>
  </footer>


  </body>
  </html>


